[server]
url = http://10.0.0.55:3334
auth_token = 61be5577a4256d108c73

[moonraker]
host = 127.0.0.1
port = 7125

[webcam]
# Ensure this matches your actual Klipper/Mainsail camera URL
stream_url = http://127.0.0.1:8080/?action=stream
snapshot_url = http://127.0.0.1:8080/?action=snapshot
disable_video_streaming = False

[logging]
path = /home/james/printer_data/logs/moonraker-obico.log

[tunnel]

