# https://github.com/bigtreetech/LIS2DW/tree/master
# https://github.com/bigtreetech/LIS2DW/blob/master/BIGTREETECH%20S2DW%20V1.0%20User%20Manual.pdf
# https://www.klipper3d.org/Measuring_Resonances.html#configure-lis2dw-series

# software steps:
# sudo apt-get update
# sudo apt-get install -y python3-numpy python3-matplotlib libatlas-base-dev
# ~/klippy-env/bin/pip install -v numpy

# flash steps:
# 1. d/c Pi, hold BOOT & connect Pi
# 2. lsusb                                    [ eg: Bus 001 Device 040: ID 2e8a:0003 Raspberry Pi RP2 Boot ]
# 3. cd ~/klipper && make menuconfig
# 4. RP2040, no bootloader, W25Q080 CKLDIV 2, USB
# 5. make
# 6. make flash FLASH_DEVICE=2e8a:0003  ( device ID from step 2 )
# 7. ls /dev/serial/by-id/

#[mcu btt_lis2dw_x]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_45503571288D41E8-if00

[mcu btt_lis2dw_y]
serial: /dev/serial/by-id/usb-Klipper_rp2040_45503571288D41E8-if00

#[lis2dw hotend]
#cs_pin: btt_lis2dw_x:gpio9
##spi_bus: spi1a
#spi_software_sclk_pin: btt_lis2dw_x:gpio10
#spi_software_mosi_pin: btt_lis2dw_x:gpio11
#spi_software_miso_pin: btt_lis2dw_x:gpio8
##axes_map: x,y,z # caused Y axis to be major peak
#axes_map: -y,x,-z # mounted using camera mount bolt - USB port facting front

[lis2dw bed]
cs_pin: btt_lis2dw_y:gpio9
#spi_bus: spi1a
spi_software_sclk_pin: btt_lis2dw_y:gpio10
spi_software_mosi_pin: btt_lis2dw_y:gpio11
spi_software_miso_pin: btt_lis2dw_y:gpio8
axes_map: x,y,z # swapped X and Y for print bed - allows USB port to face forward

# https://www.klipper3d.org/Measuring_Resonances.html
[resonance_tester]
# accel_per_hz: 50  # default is 75 - set lower if movements too violent
probe_points: 230, 225, 20
max_smoothing: 0.10 # (0.10 x) and (0.148 y) from resonance test
accel_chip: lis2dw bed        # with only 1 accelerometer, this will do both X and Y axes independently

# configuration / flash test by running
# ACCELEROMETER_QUERY CHIP=lis2dw   ( original config )
# ACCELEROMETER_QUERY CHIP=x   tests the X axis configuration / flash only
# ACCELEROMETER_QUERY CHIP=y   tests the Y axis configuration / flash only

# initial testing:
# TEST_RESONANCES AXIS=X   and then run:   ~/klipper/scripts/calibrate_shaper.py /tmp/resonances_x_*.csv -o /home/james/printer_data/config/resonance/shaper_test_x.png
# TEST_RESONANCES AXIS=Y   and then run:   ~/klipper/scripts/calibrate_shaper.py /tmp/resonances_y_*.csv -o /home/james/printer_data/config/resonance/shaper_test_y.png

# recalibration:
# SHAPER_CALIBRATE AXIS=X   and then:   ~/klipper/scripts/calibrate_shaper.py /tmp/calibration_data_x_*.csv -o /home/james/printer_data/config/resonance/shaper_calibrate_x.png
# SHAPER_CALIBRATE AXIS=Y   and then:   ~/klipper/scripts/calibrate_shaper.py /tmp/calibration_data_y_*.csv -o /home/james/printer_data/config/resonance/shaper_calibrate_y.png